
@{
    ViewBag.Title = "Registration";
}

<h2>Thank you for wanting to join our Coffee Club:</h2>
<p>Please provide the following information:</p>

<form action="Welcome" method="post">
    User Name: <input type="text" name="UserName" required />
    Email: <input type="email" name="Email" required />
    Password: <input type="password" name="Password" required />
    <input type="submit" />
</form>
