@{
    ViewBag.Title = "Welcome";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome to the Coffee Club</title>
</head>
<body>
    <div>
    <h2>Welcome @ViewBag.UserName</h2>
    </div>
</body>
</html>
